Data Types and Structures Questions and Asnwers

1. What are data structures, and why are they important?
---Data structures are specialized ways of organizing, managing, and storing data in a computer so that it can be accessed and modified efficiently. Think of them as containers or frameworks that define how data is arranged in memory and how operations like retrieval, insertion, and deletion are performed.

2.  Explain the difference between mutable and immutable data types with examples.
--- Mutable data types: Can be changed after creation.
    Example: list, dict, set, bytearray

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) # Output: [1, 2, 3, 4]

--- Immuatable data types: Can not be changed after creation. Any operation that modifies the data creates a new object.
    Example: int, float, string, tuple, bool, forzenset.

In [1]:
my_string = "hello"
new_string = my_string.replace("h", "y")
print(my_string)     # Output: "hello"
print(new_string)    # Output: "yello"

hello
yello

3. What are the main differences between lists and tuples in Python?
--- In Python, lists and tuples are both used to store collections of items, but they have key differences in mutability, performance, and use cases.
    List: Mutable, many methods, slower than tuples, for collection that may change, uses more memory, list are unhashable.
    tuple: Immutable, few methods(mostly for reading only), faster, fixed constant data, memory efficient, it is hashable.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)  # List is mutable
print(my_list) # Output: [1, 2, 3, 4]

my_tuple = (1, 2, 3)
# my_tuple.append(4)  # ❌ Will raise AttributeError

4. Describe how dictionaries store data.
--- In Python, a dictionary is an unordered, mutable collection of key-value pairs. Under the hood, dictionaries use a hash table to store and retrieve data efficiently.

In [ ]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])  # Output: Alice

5. Why might you use a set instead of a list in Python?
--- Set can be use instead of a list in Python for several key reasons, especially when uniqueness and performance matter(fast membership testing,don’t care about order, set operations).

6. What is a string in Python, and how is it different from a list
--- A string in Python is a sequence of characters used to represent text. It's one of Python’s built-in data types.

In [ ]:
my_string = "Hello, world!"

    Difference between string and list:
    String: Characters, immuatable, "Hello", always str, many text-processing methods.
    List: Any type of element, mutable, ["H", "e", "l", "l", "o"], can be any type, many list specific methods.

7. How do tuples ensure data integrity in Python?
---Tuples help ensure data integrity primarily through their immutability.
    1. Prevents Accidental Changes
    2. Safe for Read-Only Data
    3. Can Be Used as Dictionary Keys

8. What is a hash table, and how does it relate to dictionaries in Python?
---A hash table is a data structure that stores key-value pairs and allows fast access to values using their keys.

    It works by:

    1. Applying a hash function to the key to get a hash value

    2. Using that value to determine an index in an internal array

    3. Storing the key-value pair at that index
9. Can lists contain different data types in Python?
---Yes, lists can contain different data types. It is heterogeneous, meaning it can hold multiple element in the same list.

In [1]:
my_list = [1, "hello", 3.14, True, None, [2, 3], {"key": "value"}]
print(my_list)

[1, 'hello', 3.14, True, None, [2, 3], {'key': 'value'}]

10. Explain why strings are immutable in Python?
---Strings are immutable in Python because it:

    1. Improves performance and memory efficiency

    2. Allows them to be used as dict keys

    3. Prevents unexpected side effects

    4. Encourages safe and reliable programming

11. What advantages do dictionaries offer over lists for certain tasks?
---Dictionaries and lists serve different purposes, but dictionaries are often better when you need to associate keys with values and want fast access to data by key.
  1. Key based access fast access using meaningful keys
  2. Lookup time complexity is average(O1).
  3. Improves readability.
  4. Dynaminc mapping.

12. Describe a scenario where using a tuple would be preferable over a list.
---Use a tuple instead of a list when:

    1. You want a fixed, unchangeable group of items

    2. The data should be protected from modification

    3. You need the values to be hashable

    4. You're working with structured, semantic groupings (like coordinates, RGB colors, or database records)

13. How do sets handle duplicate values in Python?
---Sets automatically remove duplicate values. When you add items to a set, only unique elements are kept.

14.  How does the “in” keyword work differently for lists and dictionaries?
---In a List:
    Checks whether a value is present in the list.

In [2]:
fruits = ["apple", "banana", "cherry"]
print("banana" in fruits)   # ✅ True
print("grape" in fruits)    # ❌ False

True
False

In a Dictionary:
Checks whether a key is present in the dictionary — not the value.

In [3]:
person = {"name": "Alice", "age": 30}
print("name" in person)     # ✅ True (checks key)
print("Alice" in person)    # ❌ False (it's a value, not a key)

True
False

15. Can you modify the elements of a tuple? Explain why or why not?
---No, you cannot modify the elements of a tuple directly — tuples are immutable.


16. What is a nested dictionary, and give an example of its use case?
---A nested dictionary is a dictionary inside another dictionary.

In [4]:
students = {
    "Vineet": {
        "age": 20,
        "grades": {"math": 90, "english": 85}
    },
    "Vardhan": {
        "age": 22,
        "grades": {"math": 78, "english": 88}
    }
}
print(students["Vineet"]["grades"]["english"])

85

17. Describe the time complexity of accessing elements in a dictionary.
---In Python, dictionaries are implemented using hash tables, which provide very fast access to elements by key.
    Average Case Time Complexity: O(1)
    Worst Case Time Complexity: O(n)

18.  In what situations are lists preferred over dictionaries?
---lists are the better choice in scenarios where ordered, sequential data is needed without the complexity of keys.
    1. Order Matters
    2. You Only Need Values (No Keys)
    3. Iterating in Order
    4. Maintaining Duplicates
    5. Index-based Access or Slicing
    6. Ordered Stacks or Queues

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
---Why They Were Originally Unordered:
    Dictionaries are implemented as hash tables.

    Keys are placed based on hash values, not insertion sequence.

    This gave fast lookups (O(1)) but ignored order.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
---A list retrieves items by index (position) — numeric and sequential.
A dictionary retrieves items by key — often a string or number.

Practical Questions and Answers
1.  Write a code to create a string with your name and print it.

In [2]:
str = input("Enter your name ") #vineet
my_name = "Vineet"
print(my_name)
print(str)

Enter your name vineet
vineet

2. Write a code to find the length of the string "Hello World".

In [3]:
str = "Hello World"
print(str)

Hello World

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [4]:
str = "Python Programming"
text = str[:3]
print(text)

Pyt

4. Write a code to convert the string "hello" to uppercase.

In [6]:
text = "hello"
up_text = text.upper()
print(up_text)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [8]:
text = "I like apple"
updated_text = text.replace("apple", "orange")
print(text)

I like apple

6.  Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
number = [1,2,3,4,5]
print(number)

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [2]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [3]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [4]:
alpha = ['a','b','c','d']
alpha[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [5]:
number = [10,20,30,40,50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [6]:
number = (100, 200, 300)
print(number)

(100, 200, 300)

12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [7]:
number = ('red', 'green', 'blue', 'yellow')
print(number[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [9]:
number = (10, 20, 5, 15)
min_val = min(number)
print(min_val)

5

14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [10]:
animal = ('dog', 'cat', 'rabbit')
sec_indx = animal.index('cat')
print(sec_indx)

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [11]:
fruits = ("apple","banana","kiwi")
if "kiwi" in fruits:
  print("Kiwi is in the tuple")
else:
  print("Kiwi is not in tuple")

Kiwi is in the tuple

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [12]:
alset = {'a','b','c'}
print(alset)

{'a', 'c', 'b'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [14]:
num = {1, 2, 3, 4, 5}
num.clear()
print(num)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [15]:
num = {1, 2, 3, 4}
num.remove(4)
print(num)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [16]:
set1 = {1,2,3}
set2 = {3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [17]:
set1 = {1,2,3}
set2 = {2,3,4}
set1.intersection(set2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [18]:
dic = {"name":"vineet", "age":"22","city":"Delhi"}
print(dic)

{'name': 'vineet', 'age': '22', 'city': 'Delhi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [20]:
dic = {'name': 'John', 'age': 25}
dic["county"] = "USA"
print(dic)

{'name': 'John', 'age': 25, 'county': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [21]:
dic = {'name': 'Alice', 'age': 30}
print(dic['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [23]:
dic = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop('age')
print(dic)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [24]:
dic = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dic:
  print("city is available")
else:
  print("city is not available")

city is available

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [25]:
my_list = [1,2,3,4,5]
my_tuple = ('a', 'b', 'c')
my_dic = {'name': 'Alice', 'city': 'Paris'}
print(my_list)
print(my_tuple)
print(my_dic)

[1, 2, 3, 4, 5]
('a', 'b', 'c')
{'name': 'Alice', 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [26]:
import random
random_number = [random.randint(1,100) for i in range(5)]
random_number.sort()
print(random_number)

[10, 18, 74, 91, 94]

28. Write a code to create a list with strings and print the element at the third index.

In [27]:
fruits = ("apple","banana","kiwi","mango")
print(fruits[3])

mango

29. Write a code to combine two dictionaries into one and print the result.

In [28]:
dic1 = {1:2,2:3}
dic2 = {'a':'b','c':'d'}
comb_dic = {**dic1, **dic2}
print(comb_dic)

{1: 2, 2: 3, 'a': 'b', 'c': 'd'}

30. Write a code to convert a list of strings into a set.

In [29]:
list_string = {"sdj", "djf", "dsklf", "jjl"}
set_string = set(list_string)
print(set_string)

{'sdj', 'dsklf', 'djf', 'jjl'}